.wrapper {
  display: flex;
}

.filters {
  min-width: 250px;
  margin-right: 30px;
}

.title {
  margin-top: 15px;
}

.sort_options {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: right;
}


.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
