.content {
  display: flex;
  align-items: flex-start;
}

.items {
  display: flex;
  align-items: flex-start;

  flex-wrap: wrap;
  min-width: 70%;
  width: 70%;
}

.filter {
  min-width: 30%;
  width: 30%;
}

.options {
  display: flex;
  justify-content: space-between;
}
