.card {
  position: relative;
  width: 300px;
  height: 300px;
  &__content {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
