.wrapper {
  min-width: 350px;
  border-radius: 0.25rem;
  border: 1px solid #ababab;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.items {
  margin-top: 20px;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.price {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 0.0625rem solid #f1f1f1;
}

.price__disc {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.button__buy {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 35px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.1s;
  color: white;
  background: rgb(82, 111, 251);
  border: solid 1px rgb(82, 111, 251);
}

.button__buy:hover {
  color: white;
  background: rgb(50, 84, 251);
  border: solid 1px rgb(50, 84, 251);
}

.crossed_out {
  text-decoration: line-through;
  color: rgb(111, 111, 111);
}

.hidden {
  display: none;
}