.list {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  &::-webkit-scrollbar {
    width: 7px;
    background-color: gray;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }
}

.list__btn {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}
